@keyframes car {
    0% {
        transform: translateX(-100vw) rotateY(-180deg);
    }

    100% {
        transform: translateX(0vw) rotateY(-180deg);
    }
}

.vector2 {
    display: none;
}

.bar {
    display: none;
}

.mobileSearchBar {
    display: none;
}

@media (max-width: 950px) {
    .hopIn {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 5rem;
        align-items: center;
    }

    .vector1 {
        display: none;
    }

    .hopText {
        text-align: center;
    }

    .content {
        gap: 2.5rem;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .navs {
        display: none;
    }

    .vector2 {
        display: block;
    }

    .header {
        height: 5rem;
    }

    .name {
        display: none;
    }

    .bar {
        display: block;
    }

    .searchBar {
        display: none;
    }

    .mobileSearchBar {
        display: block;
    }
}

.chatLoader {
    display: flex;
    gap: 2px;
}

.chatLoader .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #16b0c1;
    animation: jump 0.8s ease-in-out infinite alternate;
}

@keyframes jump {
    100% {
        background: #00b37e;
        transform: translateY(-2rem) scale(1.5);
    }
}

.chatLoader .dot:nth-child(1) {
    animation-delay: 0.1s;
}

.chatLoader .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.chatLoader .dot:nth-child(3) {
    animation-delay: 0.3s;
}

.chatLoader .dot:nth-child(4) {
    animation-delay: 0.4s;
}

.chatLoader .dot:nth-child(5) {
    animation-delay: 0.5s;
}

@keyframes showRides {
    0% {
        transform: translateY(0.5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.card {
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02)
}